In [23]:
import pandas as pd
#import geopandas
#from shapely.geometry import Point
import matplotlib.pyplot as plt
from sodapy import Socrata

In [24]:
def getData(limit):
    client = Socrata("data.cityofnewyork.us", None)
    results = client.get("2yzn-sicd", limit = limit)
    results_df = pd.DataFrame.from_records(results)
    return results_df

In [25]:
taxi = getData(200)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [27]:
taxi

,dropoff_datetime,dropoff_latitude,dropoff_longitude,extra,fare_amount,mta_tax,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,rate_code,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id
0,2015-04-15T12:08:50.000,40.765708923339844,-73.954521179199219,0,6,0.5,5,2,2015-04-15T12:03:43.000,40.7593994140625,-73.965347290039063,1,N,0,0,6.8,0.91,2
1,2015-05-10T18:45:25.000,40.731090545654297,-73.999748229980469,0,12.5,0.5,1,1,2015-05-10T18:28:41.000,40.759693145751953,-73.983749389648438,1,N,2.66,0,15.96,2.27,2
2,2015-06-17T07:55:32.000,40.715000152587891,-74.013671875,0,9,0.5,1,1,2015-06-17T07:45:29.000,40.732814788818359,-74.006317138671875,1,N,1.96,0,11.76,1.4,1
3,2015-04-17T10:55:23.000,40.727031707763672,-74.004241943359375,0,7,0.5,1,1,2015-04-17T10:47:00.000,40.724403381347656,-73.990814208984375,1,N,1,0,8.8,0.9,2
4,2015-05-17T05:19:21.000,40.752601623535156,-73.993156433105469,0.5,7.5,0.5,1,2,2015-05-17T05:12:12.000,40.738071441650391,-74.009559631347656,1,N,0,0,8.8,1.45,2
5,2015-02-21T23:38:50.000,40.749027252197266,-73.97039794921875,0.5,9,0.5,1,1,2015-02-21T23:29:44.000,40.7294921875,-73.97802734375,1,N,2.06,0,12.36,2.1,1
6,2015-03-11T22:35:28.000,40.779281616210938,-73.957771301269531,0.5,13,0.5,1,1,2015-03-11T22:20:03.000,40.755619049072266,-73.987350463867188,1,N,2.3,0,16.6,2.9,2
7,2015-02-06T19:30:25.000,40.718887329101563,-73.984352111816406,1,8.5,0.5,3,1,2015-02-06T19:20:02.000,40.731147766113281,-73.983970642089844,1,N,2.38,0,12.68,1.46,2
8,2015-01-10T23:54:09.000,40.69354248046875,-73.934120178222656,0.5,25.5,0.5,6,3,2015-01-10T23:27:51.000,40.754878997802734,-73.965370178222656,1,N,0,0,26.8,7.5,1
9,2015-03-25T12:57:58.000,40.769233703613281,-73.955032348632813,0,11,0.5,1,2,2015-03-25T12:40:57.000,40.756984710693359,-73.961105346679688,1,N,0,0,11.8,1,1
10,2015-01-23T18:31:53.000,40.748710632324219,-73.9925537109375,1,7.5,0.5,1,1,2015-01-23T18:23:04.000,40.757312774658203,-73.985427856445313,1,N,1.85,0,11.15,1.3,1
11,2015-06-20T17:26:04.000,40.688114166259766,-74.180831909179688,0,74,0,3,1,2015-06-20T16:38:31.000,40.754436492919922,-73.977310180664063,3,N,10,11.75,96.05,17.5,1
12,2015-05-21T12:02:56.000,40.738056182861328,-73.990592956542969,0,8.5,0.5,2,1,2015-05-21T11:50:54.000,40.744388580322266,-73.983116149902344,1,N,1.86,0,11.16,1.03,2
13,2015-02-24T21:09:15.000,40.766777038574219,-73.990150451660156,0.5,9.5,0.5,3,1,2015-02-24T20:59:26.000,40.739459991455078,-74.006446838378906,1,N,2,0,12.8,2.28,2
14,2015-03-24T10:19:44.000,40.738716125488281,-73.992630004882813,0,5,0.5,3,1,2015-03-24T10:14:52.000,40.742740631103516,-73.99658203125,1,N,1,0,6.8,0.48,2
15,2015-01-09T01:47:07.000,40.698787689208984,-73.946479797363281,0.5,12,0.5,1,1,2015-01-09T01:36:04.000,40.718563079833984,-73.988479614257813,1,N,1,0,14.3,3.2,1
16,2015-01-20T11:39:27.000,40.644390106201172,-73.781990051269531,0,52,0.5,1,1,2015-01-20T11:02:41.000,40.721626281738281,-74.003875732421875,2,N,0,0,52.8,17.9,1
17,2015-05-03T18:08:13.000,40.73095703125,-73.985923767089844,0,9,0.5,3,1,2015-05-03T17:59:15.000,40.756988525390625,-73.966888427734375,1,N,1.95,0,11.75,2.1,1
18,2015-01-17T00:59:42.000,40.7281494140625,-73.988037109375,0.5,5,0.5,2,1,2015-01-17T00:56:10.000,40.740711212158203,-73.978988647460938,1,N,1.1,0,7.4,0.97,2
19,2015-04-22T18:14:32.000,40.772624969482422,-73.946456909179688,1,13.5,0.5,1,1,2015-04-22T17:55:50.000,40.791957855224609,-73.9755859375,1,N,2.25,0,17.55,2.3,1
20,2015-02-19T19:24:59.000,40.748130798339844,-73.973381042480469,1,11,0.5,1,1,2015-02-19T19:08:56.000,40.764724731445313,-73.970314025878906,1,N,2.55,0,15.35,1.7,1
21,2015-01-10T02:09:55.000,40.77703857421875,-73.945381164550781,0.5,16.5,0.5,2,1,2015-01-10T01:54:27.000,40.716136932373047,-73.991783142089844,1,N,2,0,19.8,5,1
22,2015-02-09T09:21:04.000,40.760978698730469,-73.982948303222656,0,7.5,0.5,1,1,2015-02-09T09:11:35.000,40.769027709960938,-73.984901428222656,1,N,0.8,0,9.1,0.8,1
23,2015-05-17T12:09:17.000,40.780960083007813,-73.981101989746094,0,9.5,0.5,1,1,2015-05-17T11:58:28.000,40.759929656982422,-73.973869323730469,1,N,2.05,0,12.35,2.1,1
24,2015-02-13T10:40:43.000,40.7705078125,-73.864982604980469,0,40.5,0.5,2,2,2015-02-13T09:56:56.000,40.762435913085937,-73.975471496582031,1,N,0,5.33,46.63,11.29,2
25,2015-05-25T15:29:50.000,40.731742858886719,-73.991477966308594,0,5.5,0.5,2,1,2015-05-25T15:25:43.000,40.744949340820313,-73.98291015625,1,N,1.25,0,7.55,1,1
26,2015-02-11T19:14:33.000,40.759860992431641,-73.9798583984375,1,6,0.5,1,1,2015-02-11T19:08:13.000,40.748348236083984,-73.988899230957031,1,N,1.95,0,9.75,1,2
27,2015-03-24T12:07:39.000,40.672676086425781,-73.986557006835938,0,22,0.5,2,2,2015-03-24T11:38:00.000,40.734088897705078,-73.990814208984375,1,N,0,0,22.8,4.97,2
28,2015-04-05T14:18:05.000,40.763740539550781,-73.9749755859375,0,6.5,0.5,1,2,2015-04-05T14:11:34.000,40.758731842041016,-73.989036560058594,1,N,0,0,7.3,1.2,1
29,2015-03-05T20:11:24.000,40.737140655517578,-73.990394592285156,1,15,0.5,1,2,2015-03-05T19:48:29.000,40.753093719482422,-73.986000061035156,1,N,0,0,16.8,3.21,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,2015-06-06T19:39:36.000,40.765453338623047,-73.975181579589844,0,52,0.5,2,1,2015-06-06T18:49:12.000,40.644004821777344,-73.789985656738281,2,N,5.55,5.54,63.89,21.5,1
171,2015-04-25T16:54:08.000,40.776386260986328,-73.955734252929687,0,5,0.5,2,1,2015-04-25T16:50:46.000,40.767051696777344,-73.954727172851563,1,N,1.15,0,6.95,0.8,1
172,2015-04-27T16:11:02.000,40.725528717041016,-74.005599975585938,1,8.5,0.5,2,2,2015-04-27T16:00:40.000,40.736980438232422,-73.989952087402344,1,N,0,0,10.3,1.61,2
173,2015-03-10T10:27:32.000,40.738922119140625,-73.999565124511719,0,9.5,0.5,1,1,2015-03-10T10:15:51.000,40.751426696777344,-73.976524353027344,1,N,2.06,0,12.36,2,1
174,2015-01-05T19:26:05.000,40.760009765625,-73.964958190917969,1,6.5,0.5,1,2,2015-01-05T19:20:00.000,40.760009765625,-73.964958190917969,1,N,0,0,8.3,0.8,1
175,2015-04-06T20:40:06.000,40.686805725097656,-73.923530578613281,0.5,23.5,0.5,2,2,2015-04-06T20:09:03.000,40.730735778808594,-74.004570007324219,1,N,0,0,24.8,5.65,2
176,2015-05-24T21:54:02.000,40.764373779296875,-73.995681762695313,0.5,6,0.5,1,1,2015-05-24T21:49:19.000,40.773223876953125,-73.981910705566406,1,N,1,0,8.3,1.2,1
177,2015-03-25T14:35:45.000,40.768295288085937,-73.862052917480469,0,26.5,0.5,1,2,2015-03-25T14:13:54.000,40.751331329345703,-73.975540161132813,1,N,0,5.54,32.84,9.14,2
178,2015-01-18T17:26:19.000,40.769130706787109,-73.988616943359375,0,12.5,0.5,1,1,2015-01-18T17:16:02.000,40.720386505126953,-74.010169982910156,1,N,3.75,0,17.05,3.85,2
179,2015-03-17T15:53:03.000,40.726940155029297,-73.99163818359375,0,7,0.5,2,2,2015-03-17T15:46:12.000,40.741493225097656,-73.978385925292969,1,N,0,0,7.8,1.3,1
180,2015-02-14T23:50:32.000,40.729667663574219,-73.986961364746094,0.5,14,0.5,6,1,2015-02-14T23:31:23.000,40.761455535888672,-73.985946655273438,1,N,3.06,0,18.36,3.07,2
181,2015-02-09T12:38:39.000,40.790580749511719,-73.965530395507813,0,8,0.5,1,2,2015-02-09T12:29:52.000,40.787010192871094,-73.979156494140625,1,N,0,0,8.8,1.2,1
182,2015-05-23T17:25:34.000,40.749958038330078,-73.979240417480469,0,19.5,0.5,1,2,2015-05-23T17:10:19.000,40.711509704589844,-74.015647888183594,1,N,0,0,20.3,6.1,2
183,2015-04-26T10:46:55.000,40.693733215332031,-73.963600158691406,0,4.5,0.5,1,2,2015-04-26T10:43:42.000,40.689067840576172,-73.955047607421875,1,N,0,0,5.3,0.7,1
184,2015-01-24T15:07:13.000,40.751266479492188,-73.990699768066406,0,12,0.5,1,2,2015-01-24T14:52:32.000,40.778728485107422,-73.962432861328125,1,N,0,0,12.8,2.76,2
185,2015-03-23T11:24:06.000,40.770645141601563,-73.98748779296875,0,14,0.5,1,2,2015-03-23T11:04:48.000,40.767826080322266,-73.953109741210937,1,N,0,0,14.8,2.4,1
186,2015-03-19T21:40:09.000,40.743396759033203,-74.005050659179687,0.5,6.5,0.5,5,2,2015-03-19T21:30:22.000,40.751441955566406,-73.994140625,1,N,0,0,7.8,1.24,2
187,2015-03-10T14:50:06.000,40.776611328125,-73.979530334472656,0,9,0.5,1,1,2015-03-10T14:40:31.000,40.794654846191406,-73.96246337890625,1,N,1.96,0,11.76,1.72,2
188,2015-05-18T16:13:30.000,40.763240814208984,-73.978790283203125,0,29,0.5,2,2,2015-05-18T15:29:37.000,40.704719543457031,-74.015151977539062,1,N,0,0,29.8,5.7,1
189,2015-06-08T07:01:25.000,40.641620635986328,-73.7889404296875,0,36,0.5,1,1,2015-06-08T06:38:05.000,40.769660949707031,-73.909950256347656,1,N,7.36,0,44.16,13.19,2
190,2015-02-20T16:54:57.000,40.702297210693359,-73.987449645996094,1,19.5,0.5,1,1,2015-02-20T16:34:59.000,40.749820709228516,-73.950927734375,1,N,4.25,0,25.55,5.8,1
191,2015-05-21T14:32:36.000,40.715389251708984,-74.014305114746094,0,27,0.5,1,1,2015-05-21T14:09:58.000,40.778835296630859,-73.953475952148438,1,N,3.2,0,31,8.7,1
192,2015-03-21T14:37:50.000,40.738628387451172,-73.984794616699219,0,6,0.5,1,1,2015-03-21T14:30:48.000,40.740318298339844,-73.994522094726563,1,N,1.36,0,8.16,0.66,2
193,2015-03-19T11:54:17.000,40.750934600830078,-73.978431701660156,0,11.5,0.5,1,1,2015-03-19T11:38:52.000,40.728721618652344,-73.995918273925781,1,N,3,0,15.3,1.9,1
194,2015-03-05T17:53:21.000,40.752487182617188,-74.003952026367188,1,9.5,0.5,1,1,2015-03-05T17:40:34.000,40.763385772705078,-73.981849670410156,1,N,2.25,0,13.55,1.8,1
195,2015-01-20T08:22:10.000,40.776756286621094,-73.948738098144531,0,12,0.5,5,1,2015-01-20T08:06:55.000,40.755596160888672,-73.973159790039063,1,N,1,0,13.8,2.39,2
196,2015-01-18T13:44:06.000,40.759639739990234,-73.976264953613281,0,9.5,0.5,1,2,2015-01-18T13:34:10.000,40.780433654785156,-73.972770690917969,1,N,0,0,10.3,2.1,2
197,2015-02-13T09:22:48.000,40.780910491943359,-73.917411804199219,0,44.5,0.5,2,1,2015-02-13T08:36:04.000,40.645290374755859,-73.776748657226562,1,N,0,0,45.3,15.21,2
198,2015-02-06T19:12:53.000,40.773231506347656,-73.982009887695313,1,11,0.5,1,2,2015-02-06T18:56:23.000,40.766628265380859,-73.963127136230469,1,N,0,0,12.8,1.36,2
199,2015-03-31T19:21:15.000,40.765956878662109,-73.983596801757812,0,52,0.5,1,1,2015-03-31T18:03:39.000,40.646682739257813,-73.789474487304688,2,N,17.5,5.54,75.84,21.84,2

In [32]:
coordinates = taxi[['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude']]

In [33]:
coordinates.head()

,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,40.7593994140625,-73.965347290039063,40.765708923339844,-73.954521179199219
1,40.759693145751953,-73.983749389648438,40.731090545654297,-73.999748229980469
2,40.732814788818359,-74.006317138671875,40.715000152587891,-74.013671875
3,40.724403381347656,-73.990814208984375,40.727031707763672,-74.004241943359375
4,40.738071441650391,-74.009559631347656,40.752601623535156,-73.993156433105469