In [1]:
import pandas as pd
#import geopandas
#from shapely.geometry import Point
import matplotlib.pyplot as plt
taxi=pd.read_csv('F:\Downloads\yellow_tripdata_2015-01-06.csv')

In [3]:
taxi.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RateCodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount'],
      dtype='object')

In [11]:
taxi.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RateCodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount'],
      dtype='object')

In [13]:
coordinates=taxi.drop(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 
       'RateCodeID', 'store_and_fwd_flag',
       'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount'],axis=1)

In [14]:
coordinates.head()

   pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
0        -73.987686        40.724251         -73.973763         40.743378
1        -73.991570        40.726933         -74.004105         40.721081
2        -73.981918        40.783443         -73.952354         40.798199
3        -73.973122        40.743553         -73.919571         40.832001
4        -73.982948        40.766209         -73.984390         40.764053